<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Yo</title>

    <style>
      body {
        background-color: skyblue;
        font-family: verdana;
        color: white;
        padding: 30px;
      }
      h1 {
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
      }
      p {
        font-size: 16px;
        text-align: center;
      }
      li {
        text-align: center;
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <%- include ('partials/nav') %>
    <h1>The fuck nigga</h1>
    <p>There's no shit like this in this website!</p>
  </body>
</html>
